@import "../../styles/variables";
.header_title {
  font-size: 1.7rem;
  background-color: $s_black;
  color: white;
  width: 100%;
  min-height: 65px;
  border-top: 1px solid white;
  padding-left: 5px;
  margin-bottom: 3px;
  margin-top: 20px;
  padding-top: 10px;
}
.header_default {
  font-size: 1.4rem;
  padding-left: 5px;
  color: $s_blue;
}
