@import "../../styles/variables";

.navbar {
  widows: 100%;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: white;
  background-color: $s_black;
  border-bottom: 1px solid white;
  .link_box {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .title_div {
    min-width: 100%;
    margin: 5px 0;
    text-align: center;
  }
}

@media (min-width: 960px) {
  .navbar {
    flex-direction: row;
    .link_box {
      min-width: 40%;
    }
    .title_div {
      min-width: 20%;
    }
  }
}
