@import "../../styles/variables";

.project_card {
  min-width: 100%;
  margin: 10px auto;
  padding: 13px 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  background-color: white;
  box-shadow: $p_shadow;
  .card_center {
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-start;
    justify-content: space-between;
    .card_info {
      width: 100%;
      padding-left: 6px;
      min-height: 250px;
      margin-bottom: 25px;
      .tech_div {
        display: grid;
        grid-template-columns: 24.75% 24.75% 24.75% 24.75%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 10px;
        padding-bottom: 5px;
        min-height: 40px;
        font-size: 1.2rem;
        min-width: 99%;
        border-bottom: 1px solid $s_black;
      }
    }
    .div_img {
      display: flex;
      align-items: center;
      justify-content: center;
      .project_img {
        width: 90%;
        margin: auto;
        padding: 0 10px;
        height: 320px;
      }
    }
  }
}

@media (min-width: 710px) {
  .project_card {
    .card_center {
      .div_img {
        .project_img {
          width: 80%;
          height: 390px;
        }
      }
    }
  }
}

@media (min-width: 1050px) {
  .project_card {
    width: 100%;
    margin: 10px auto;
    padding: 13px 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: white;
    box-shadow: $p_shadow;
    .card_center {
      display: flex;
      min-height: 330px;
      .card_info {
        width: 50%;
        padding-left: 6px;
        min-height: 320px;
        .tech_div {
          display: grid;
          grid-template-columns: 24.75% 24.75% 24.75% 24.75%;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 0 10px;
          padding-bottom: 5px;
          min-height: 40px;
          font-size: 1.2rem;
          width: 99%;
          border-bottom: 1px solid $s_black;
        }
      }
      .div_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
        .project_img {
          width: 100%;
          height: 260px;
        }
      }
    }
  }
}

@media (min-width: 1350px) {
  .project_card {
    .card_center {
      .card_info {
        width: 63%;
        padding-left: 6px;
        min-height: 320px;
      }
      .div_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 1550px) {
  .project_card {
    .card_center {
      .card_info {
        width: 73%;
        padding-left: 6px;
        min-height: 320px;
      }
      .div_img {
        width: 30%;
        height: 320px;
      }
    }
  }
}
