@import "../variables";
.page_box {
  width: 100%;
  background-color: $s_blue;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  border-top: 1px solid white;
  .page_fon {
    width: 95%;
    border-radius: 0 0 10px 10px;
    background-color: $s_black;
  }
}

//comentario
