//Negro
$s_black: rgb(51, 49, 49);

//Azul
$s_blue: rgb(33, 57, 114);
$a_link: rgb(34, 87, 211);

//Shadow
$s_shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$p_shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

//transition
$tran2: 0.2s ease-in-out;
$tran4: 0.4s ease-in-out;
