@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.type_text {
  font-size: 1.3rem;
  width: 75%;
  padding-right: 5px;
}

.react {
  color: #61dbfb;
}

.link {
  width: 75%;
  padding-right: 5px;
  font-size: 1.2rem;
  color: rgb(57, 67, 212);
  transition: $tran2;
}

.link:hover {
  color: brown;
  transition: $tran2;
}

.title {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

.skyTitle {
  color: white;
}
