@import "../styles/variables";
.center_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .center_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    .CV {
      border-radius: 0 0 8px 8px;
      width: 100%;
      min-height: 500px;
      .img {
        width: 100%;
        height: 100%;
      }
    }
    .book_div {
      background-color: $s_black;
      width: 4%;
      border-radius: 0 0 8px 8px;
      min-height: 85%;
    }
  }
}

@media (min-width: 1060px) {
  .center_div {
    flex-direction: column;
    .center_box {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}
